<h1>{{ title }}</h1>
{% if is_granted('ROLE_ADMIN') %}
    <h3>Vous êtes connecté en tant qu'administrateur.</h3>
{% endif %}
<h3> Bonjour {{ app.user.name }} - {{ app.user.email }}</h3>
<ul>
    <li>
        <a href="{{ path('consultation_list') }}">Consultations</a>
    </li>
    <li>
        <a href="{{ path('medecin_list') }}">Médecins</a>
    </li>
    <li>
        <a href="{{ path('patient_list') }}">Patients</a>
    </li>
    <li>
        <a href="{{ path('medicament_list') }}">Médicaments</a>
    </li>
</ul>